.DS_Store

data/failed_matches_*
data/*.mp3
data/*.db
data/*.part
data/*.csv
data/*.txt
.cache-*
.cache
data/temp_segments/*
data/logs/*.log

TODO.txt

dist
*.pyc
libsync/__pycache__
.venv
.env
src/lib_sync.egg-info/
